#p_top{height:33px;line-height:33px;letter-spacing:1px;text-indent:18px;background:url(../images/jianjiao.png) 8px 0 no-repeat;}
/* #righttop{height:33px;background:url(../images/righttopbg.gif) 0 0 repeat-x;} */
#righttop{height:33px;background:#BEBEBE 0 0 repeat-x;}